[defaults]
inventory = inventory/hosts.yml
host_key_checking = True
stdout_callback = default
callback_result_format = yaml
roles_path = roles

[privilege_escalation]
become = True
become_method = sudo
